.btn_inicio{
    margin: 0 auto;
    width: 30vw;
    height: 100vh;
    justify-content: center !important;
    display: none !important;
   
}

.cont_input_juego{
display: flex !important;
margin: 0 auto;
width: 30vw;
height: 100vh;
justify-content: center !important;
align-items: center;
color: white;
font-size: 24px;
}

.cont_magico{
    background-image: url(/img/fondo_numero_magico2.jpg);
}
#cont_form_adivinar{
    display: flex;
    flex-direction: column;
}

.btn_adivinar{
    margin: 8px auto;
    width: 50%;
    align-self: center;
   padding: 2px 3px !important;
}

.input_adivinar{
    margin: 5px auto;
    text-align: center;
    width: 10vw;
}
.txt_adivinar{
    background-color: #0000006e;
}
.form-group{
    padding: 15px 15px !important;
    background-color: #0000006e;
    width: 50vw;
    text-align: center;
}
#resultado{
    display: flex !important;
    margin: 8px auto;
    width: 62%;
   padding: 2px 3px !important;
   text-align: center;
   font-size: 28px;
   flex-direction: column;
}
#valor_oprt{
    width: 50vw;
    text-align: center;
  display: flex;
  justify-content: center;
  background-color: #000000e6;

}
#emoticon{
    width: 100%;
    display: none;
}
#emoticon2{
    width: 100%;
    display: none;
}
#txt_result{
    display: none;
    background-color: #37474F;
    width: 100%;
    color: #e9ecef;
    justify-content: center;
    font-size: 25px;
    transition: 3s ease;


}
#lab_valor_oprt{
    margin: 0 8px;
}